/*Button styles*/

.btn-up {
  position: fixed;
  bottom: 50px;
  right: 20px;
  left: 95%;
  padding: 10px;
  background-color: #b380b5;
  color: black;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn-up.hide {
  opacity: 0;
  pointer-events: none;
}

.btn-up.active {
  opacity: 1;
  pointer-events: all;
}
