/*Button styles*/

.btn-up {
    width: 50px;
    height: 50px;
    outline: 0;
    border-radius: 50%;
    border: 1px solid #b380b5;
    background-color: #b380b5;
    position: fixed;
    right: 20px;
    left: 95%;
    bottom: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.fa-arrow-up {
    color: #fff;
    font-size: 18px;
}

.btn-up:hover {
    opacity: .75;
}
