.admin-panel {
  display: flex;
  min-height: 100vh;
  background-color: #fdeee7;
}
.admin-content {
  width: 80%;
  max-width: 100%;
}

.admin-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1rem;
  background-color: #b380b5;
  min-width: 250px; /* Ancho mínimo */
  width: 20vw; /* Ancho relativo en vista normal */
  max-width: 300px; /* Ancho máximo */
}

.admin-header h1 {
  margin: 0;
  font-size: 0.6rem;
  color: white;
  font-family: outfit;
  font-weight: bold;
}

.sidebar {
  background-color: #d8e2dc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  /* Ancho mínimo y responsive */
  min-width: 250px; /* Ancho mínimo */
  width: 20vw; /* Ancho relativo en vista normal */
  max-width: 300px; /* Ancho máximo */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar-btn {
  background-color: white;
  border: none;
  color: #b380b5;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-family: outfit;
  font-weight: bold;
}

.sidebar-btn:hover {
  background-color: #b380b5;
  color: white;
}

.sidebar-btn.active {
  background-color: #b380b5; /* Color de fondo morado cuando está activo */
  color: white; /* Texto blanco cuando está activo */
}

.footer-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-site-link {
  text-decoration: none;
  font-family: Outfit;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0px 0px;
  background-color: #e0bb8e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.back-to-site-link:hover {
  text-decoration: none;
  background-color: white;
  color: #b380b5;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .sidebar {
    width: 40vw; /* Más ancho en pantallas pequeñas */
  }
}
