.admin-panel {
  display: flex;
  min-height: 100vh;
  background-color: white;
}

.admin-header {
  position: absolute;
  width: 100%;
  text-align: left;
  background-color: white;
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 100;
}

.admin-header h1 {
  margin: 0;
  font-size: 1rem;
  color: #b380b5;
  font-family: outfit;
  font-weight: bold;
  margin-left: 0.5rem;
}

.sidebar {
  width: 25%;
  background-color: #fdeee7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  border-radius: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar-btn {
  background-color: white;
  border: none;
  color: #b380b5;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-family: outfit;
  font-weight: bold;
}

.sidebar-btn:hover {
  background-color: #b380b5;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #b380b5;
}

.back-to-site-link {
  color: #b380b5;
  text-decoration: none;
}

.back-to-site-link:hover {
  text-decoration: underline;
}
