.contenedor-seleccione-formulario {
  margin: 2rem;
  font-family: Outfit, sans-serif;
  padding: 1rem 2rem;
  background-color: #d8e2dc6a;
}
.contenedor-titulo-buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.selector-evento-formularios {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8e2dc;
  border-radius: 50px;
  border: none;
  padding: 0.5rem 0;
  font-family: Outfit, sans-serif;
  width: 20rem;
}
.buscar-formulario-input {
  width: 35%;
  height: 32px;
  padding: 10px;
  margin-left: 1rem;
  display: block;
  font-family: outfit;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 2rem;
  border: 1px solid #b380b5;
}
.buscar-formulario-input::placeholder {
  padding-left: 1rem;
}
.contenedor-listado-formularios ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 1rem 0;
}

.contenedor-listado-formularios li {
  padding: 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición */
  border-bottom: 1px solid #b380b5;
}

.contenedor-listado-formularios li:hover {
  background-color: #b380b5; /* Color de fondo al pasar el ratón */
  color: white; /* Cambia el color del texto al pasar el ratón */
}

/*BOTÓN PUBLICAR FORMULARIO*/

.boton-publicar-formulario-dropdown {
  margin-bottom: 1rem;
  background-color: #b380b5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 10rem;
  margin-top: 1rem;
  font-family: Outfit;
  /* Efecto 3D */
  box-shadow: 0px 4px #946b9f; /* Sombra inferior para dar efecto de relieve */
  transition: all 0.2s ease-in-out;
}
.boton-publicar-formulario-dropdown:hover {
  margin-bottom: 1rem;
  background-color: #caa2cb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 10rem;
  margin-top: 1rem;
  font-family: Outfit;
  /* Efecto 3D */
  box-shadow: 0px 4px #946b9f; /* Sombra inferior para dar efecto de relieve */
  transition: all 0.2s ease-in-out;
}

.boton-despublicar-formulario-dropdown{
  background-color: #797e80;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 8.5rem;
  margin-top: 2rem;
  margin-right: 1rem;
  font-family: "Outfit", sans-serif;
  box-shadow: 0px 4px #b2b6b8;
  transition: all 0.2s ease-in-out;
}

.boton-despublicar-formulario-dropdown:hover{
  box-shadow: 0 1px #b2b6b8;
  transform: translateY(3px);
}

/* Efecto de presionado */
.boton-publicar-formulario-dropdown:active,
.boton-editar-formulario-dropdown:active {
  box-shadow: 0 1px #946b9f; /* Reduce la sombra para simular que se presiona */
  transform: translateY(3px); /* Desplaza el botón hacia abajo */
}
.boton-editar-formulario-dropdown {
  background-color: #b380b5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 8.5rem;
  margin-right: 1rem;
  font-family: Outfit;
  /* Efecto 3D */
  box-shadow: 0px 4px #946b9f;
  transition: all 0.2s ease-in-out;
}

.boton-editar-formulario-dropdown:hover {
  background-color: #caa2cb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 10rem;
  font-family: Outfit;
  /* Efecto 3D */
  box-shadow: 0px 4px #946b9f; /* Sombra inferior para dar efecto de relieve */
  transition: all 0.2s ease-in-out;
}
