body {
  margin: 0;
  padding: 0;
}

/* Contenedor de la barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  z-index: 1;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  flex-direction: column;
  font-family: outfit;
}

/* Estilo del logo */
.logo {
  height: 6em;
  z-index: 1;
  position: absolute;
  align-self: flex-start;
  margin-top: 2em;
  margin-left: 1rem;
}

/* social media*/
.social-media {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

/* Social media icons styling */
.social-media a {
  color: white;
  margin: 0 1em;
  margin-top: -1em;
}

/* Estilo de la lista de menú principal */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-top: 1em;
}

/* Estilo de los elementos del menú */
.menu-item {
  position: relative;
  font-weight: bold;
}

/* Estilo de los enlaces del menú principal */
.menu-item > a {
  color: white; /* Color del texto del menú */
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  position: relative;
  z-index: 999;
}

/* Estilo del subrayado en los enlaces del menú principal */
.menu-item > a::after {
  content: "";
  position: absolute;
  width: 100%; /* Ajusta el subrayado al ancho del texto */
  height: 2px; /* Grosor del subrayado */
  left: 0;
  bottom: -2px; /* Posiciona el subrayado justo debajo del texto */
  background-color: transparent; /* Sin color de fondo para el subrayado */
}

/* Cambia el color del texto y subrayado en hover */
.menu-item > a:hover {
  color: #9c6fa0; /* Cambia el color del texto al pasar el mouse */
}

/* Estilo de la lista de submenú */
.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  min-width: 200px;
  z-index: 1000;
  background-color: white;
}

/* Estilo de los enlaces dentro del submenú */
.submenu li a {
  color: #9c6fa0; /* Color del texto del submenú */
  text-decoration: none;
  padding: 10px;
  display: block;
  position: relative;
  z-index: 1001;
}

/* Estilo del subrayado en los enlaces del submenú */
.submenu li a::after {
  position: absolute;
  width: 100%; /* Ajusta el subrayado al ancho del texto */
  height: 2px; /* Grosor del subrayado */
  left: 0;
  bottom: -2px; /* Posiciona el subrayado justo debajo del texto */
  background-color: transparent; /* Sin color de fondo para el subrayado */
}

/* Cambia el color del texto en el submenú al pasar el mouse */
.submenu li a:hover {
  color: #9c6fa0; /* Cambia el color del texto al pasar el mouse */
}

/* Estilo para el submenú de "Actividades por años" */
.menu-item .menu-item .submenu {
  top: 0; /* Mantiene el submenú al nivel del menú principal */
  left: 100%; /* Posiciona el submenú a la derecha del menú principal */
}

/* Mostrar el submenú cuando se hace hover sobre el elemento del menú */
.menu-item:hover > .submenu {
  display: block; /* Muestra el submenú en hover */
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    font-family: outfit;
    width: 100vw;
  }

  .logo {
    height: 4rem;
    margin-top: 0.5em;
  }

  .social-media-item {
    visibility: hidden;
  }

  .menu-toggle {
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    align-self: flex-end;
    margin-top: 0.8rem;
    margin-right: 1rem;
    z-index: 12;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #9c6fa0;
    z-index: 11;
    text-align: center;
    width: 100%;
    height: 20.5rem;
    margin-top: 0;
  }

  .menu-item > a {
    color: white;
  }

  .submenu {
    display: none;
  }
  
  .submenu.active {
    display: block;
  }
}


@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
