.scrollToTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 10px 16px;
    background-color: #b380b5;
    color: #000;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .scrollToTop:hover {
    background-color: #caa2cb;
  }