/* Button styles */
.btn-up {
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 10px;
  background-color: #b380b5;
  color: black;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

/* Hide class - makes the button invisible and non-interactive */
.btn-up.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Active class - makes the button visible and interactive */
.btn-up.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
