.activities {
  display: flex;
  justify-content: center; /* Distribuye las tarjetas proporcionalmente */
  align-items: center; /* Centra verticalmente las tarjetas si es necesario */
  width: 100%; /* Asegura que ocupe el ancho completo */
}
.calendar-section {
  padding-bottom: 3rem;
}

.section-title-activity {
  color: #b380b5;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-family: outfit;
  text-align: center;
}

.activity {
  position: relative;
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
  margin: 0.5rem;
}
.activity-image-home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Asegura que la imagen cubra todo el contenedor */
  overflow: hidden;
}
.activity-image-home img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}
.attachment-image {
  border-radius: 2rem 2rem 0 0;
}

.card-inner {
  position: relative;
  background-color: #d8e2dc;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 2rem;
  transform-origin: center;
}

.activity:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #d8e2dc;
  color: #555;
}

.card-back {
  transform: rotateY(180deg);
}

.contenedor-ver-actividades-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.boton-ver-actividades {
  background-color: #d8e2dc;
  border: none;
  color: #b380b5;
  cursor: pointer;
  border-radius: 3em;
  font-size: 1.4em;
  font-weight: bold;
  width: 18rem;
  height: 2.5rem;
  font-family: outfit;
}

.boton-ver-actividades:hover {
  background-color: #b380b5;
  color: white;
}

.event-attachments {
  font-family: bellota;
}

.event-attachments img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.event-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #b380b5;
  font-family: outfit;
}

.event-speaker {
  font-size: 0.9rem;
  font-family: outfit;
}

.event-date {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.event-type {
  font-size: 1rem;
  color: #b380b5;
  margin-top: 2.5rem;
  font-family: outfit;
}

.register-button {
  margin-top: 1rem;
  color: #b380b5;
  background-color: transparent;
  border-radius: 2rem;
  border: 1px solid #b380b5;
  width: 12rem;
  height: 2rem;
}

.register-button:hover {
  cursor: pointer;
  background-color: white;
}

.section-title-calendar {
  text-align: center;
  color: #b380b5;
  font-size: 2.5rem;
  font-family: outfit;
}

.calendar-content {
  padding: 0.5rem;
  max-width: 80%;
  max-height: 70%;
  margin: 0 auto;
}

.calendar-container {
  display: flex;
}

.event-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #d8e2dc;
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 1rem;
}

.event-image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.event-image {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.event-info {
  text-align: center;
}

.event-title {
  font-size: 1rem;
  color: #a768ab;
  font-family: outfit;
}

.event-description {
  font-size: 0.8rem;
  color: #555;
  font-family: bellota;
}

.event-date {
  font-size: 0.9rem;
  color: #555;
  font-family: bellota;
  text-align: center;
}

.calendar-wrapper {
  flex: 1;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0 1.5rem 1.5rem 0;
}

.calendar {
  height: 450px;
}

.no-events {
  font-family: Outfit;
  text-align: center;
}

.rbc-calendar {
  border: none;
  font-family: outfit;
}

.rbc-month-view {
  border: none;
  padding: 0 1rem;
}

.rbc-month-row {
  border: none;
}

.rbc-header {
  text-transform: lowercase;
  padding-bottom: 0.5rem;
}

.rbc-header + .rbc-header {
  border-left: none;
}

.rbc-date-cell {
  padding: 0.3rem;
}
.rbc-date-cell button {
  font-family: outfit;
  font-size: 0.7rem;
}
.rbc-off-range-bg {
  background: none;
}

.rbc-today {
  font-weight: bold;
  background-color: #d8e2dc;
  display: flex;
  margin: 0 auto;
}

.rbc-day-bg {
  border: none;
}

.rbc-selected {
  color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.rbc-event {
  display: none;
}

.rbc-event-label {
  display: none;
}

.rbc-event-content {
  visibility: hidden;
}

.rbc-row-segment {
  padding: 0;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
}

.day-with-event {
  background-color: #9c6fa057;
  color: white;
}

/*LEYENDA CALENDARIO*/
.calendar-legend {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
  font-family: Outfit, sans-serif;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.color-cuadrado-leyenda {
  background-color: #d8e2dc;
}
.leyenda-dia-con-evento {
  background-color: #9c6fa057;
}
@media (max-width: 768px) {
  .activities {
    flex-direction: column; /* Cambia a disposición vertical */
    justify-content: center; /* Centra las tarjetas verticalmente */
    align-items: center; /* Centra horizontalmente las tarjetas */
  }

  .activity {
    width: 60vw; /* Asegura que las tarjetas ocupen la mayor parte de la pantalla */
    height: 18rem; /* Ajusta la altura para pantallas más pequeñas */
    margin: 1rem 0; /* Añade espacio entre las tarjetas */
  }

  .card-inner {
    width: 100%;
    height: 100%;
  }

  .section-title-activity {
    font-size: 2rem; /* Reduce el tamaño del título para pantallas más pequeñas */
    margin-bottom: 1rem;
    text-align: center;
  }

  .contenedor-ver-actividades-inicio {
    padding: 2rem; /* Reduce el padding para ajustarse a pantallas pequeñas */
  }

  .boton-ver-actividades {
    width: 15rem; /* Reduce el ancho del botón */
    height: 2.5rem;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente */
  }
  .calendar-wrapper {
    width: 350px;
  }

  .calendar-legend {
    flex-direction: column;
    margin: 1rem 0 0 0;
  }
  .legend-item {
    margin-bottom: 2px;
  }
}
