.custom-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .custom-toolbar-arrow {
    cursor: pointer;
    font-size: 1rem;
    margin: 0 2rem;
  }
  
  .custom-toolbar-arrow:hover {
    color: #b380b5;
  }
  
  .custom-toolbar-label {
    font-size: 1rem;
    color: #333;
  }
  