/* Estilo para la página de colaboración */
.collaborate-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para el Header en la página de colaboración */
.collaborate-page .navbar {
  background-color: #9c6fa0; /* Fondo del Header */
  height: 6.5rem;
  position: relative;
}

/* Evitamos que el contenido se solape con el Header */
.collaborate-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: #ffeee7;
  display: flex;
  gap: 2rem;
}
.columna-1 {
  flex: 2; /* Columna 1 será el doble de ancha que la columna 2 */
  padding: 1rem;
}

.columna-2 {
  flex: 1; /* Columna 2 ocupa la mitad del espacio de la columna 1 */
  padding: 1rem;
}

/* Título */
.colabora-title {
  font-family: outfit;
  color: #b380b5;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
/* Estilos del texto debajo del título */

.texto-inscripcion-socios {
  font-family: Bellota;
  color: #333;
  font-size: 1rem;
}
/* Estilos para la tarjeta informativa */
.info-box {
  background-color: #d8e2dc;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 90%;
  max-width: 100%;
  width: 70%;
}

.info-box h2 {
  font-family: outfit;
  font-size: 2rem;
  color: #b380b5;
  margin-bottom: 1rem;
}

.texto-socios {
  font-family: Outfit, sans-serif;
  color: black;
  font-size: 0.8rem;
}
.texto-letra-pequeña {
  font-family: Outfit, sans-serif;
  color: black;
  font-size: 0.6rem;
}
.cta-colaboraciones {
  font-family: outfit;
  font-size: 1.2rem;
  color: #b380b5;
  margin-top: 3rem;
}

/* Media Query para pantallas móviles */
@media (max-width: 768px) {
  .collaborate-content {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    padding: 2rem 2rem;
  }

  .form-column,
  .info-column {
    max-width: 100%; /* Las columnas ocuparán el 100% del ancho en móviles */
  }

  .colabora-title {
    font-size: 2rem; /* Reducir el tamaño del título para móviles */
  }

  .info-box {
    padding: 1.5rem; /* Reducir el padding de la caja informativa */
  }

  .info-box h2 {
    font-size: 1.5rem; /* Reducir el tamaño del título dentro de la caja */
  }

  .info-box p {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente en la caja informativa */
  }
}
