html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.contact-page .navbar {
  background-color: #b380b5;
  height: 10rem;
  position: relative;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffeee7;
}

#contact {
  flex: 1;
}

.contact-title {
  font-family: outfit;
  color: #b380b5;
  margin-left: 5rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  width: 80%;
}

.name-field {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  display: block;
  margin-left: 5rem;
  font-size: 0.9rem;
  color: #b380b5;
  font-weight: bold;
}

input,
textarea {
  display: block;
  width: 90%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #d8e2dc;
  margin-left: 5rem;
}

.email-input {
  width: 76%;
}

.subject-input {
  width: 76%;
}

.contact-page .captcha-main {
  display: flex;
  flex-direction: row;
}

.contact-page .captcha-img {
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.contact-page .captcha-input {
  width: 9rem;
  margin-left: 5rem;
  padding: 0.5rem;
  font-family: outfit;
}

.contact-page .captcha-button {
  margin-top: 1rem;
  margin-left: 2rem;
  border: none;
  width: 8rem;
  background-color: #dddbdd;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: outfit;
  padding: 0;
  height: 2rem;
}

.contact-page .captcha-main p {
  margin-left: 2rem;
  font-family: outfit;
  color: #333;
  margin-top: 1.3rem;
}

.contact-button {
  display: flex;
  justify-content: center;
  width: 7rem;
  padding: 0.3rem;
  background-color: #b380b5;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-family: outfit;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.contact-info {
  flex: 0.4;
  font-family: outfit;
  color: #b380b5;
}

.contact-info p {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 0.5rem;
  color: #b380b5;
}

.contact-info img {
  width: 15vw;
  height: 40vh;
}

#responseMessage {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.error {
  background-color: #f2dede;
  color: #a94442;
}

/* Indicador para campos obligatorios */
.required {
  color: #b380b5;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .contact-page .navbar {
    background-color: #b380b5;
    height: 6.5rem;
    position: relative;
  }

  .contact-page {
    display: flex;
    flex-direction: column;
  }

  .contact-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-title {
    margin-top: 3rem;
  }

  label {
    margin-left: 4rem;
  }

  .name-fields {
    display: flex;
    flex-direction: column;
  }

  .name-field {
    width: 100%;
  }

  input {
    margin-left: 4rem;
    width: 16rem;
  }

  .email-input {
    width: 16rem;
  }

  .subject-input {
    width: 16rem;
  }

  textarea {
    margin-left: 4rem;
    width: 16rem;
  }

  .contact-page .captcha-main {
    display: flex;
    flex-direction: column;
  }

  .contact-page .captcha-img {
    margin-left: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .contact-page .captcha-input {
    width: 8.5rem;
    margin-left: 4rem;
    padding: 0.5rem;
    font-family: outfit;
  }

  .contact-page .captcha-button {
    margin-top: 1rem;
    margin-left: 4.2rem;
    border: none;
    width: 8rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: outfit;
    padding: 0;
    height: 2rem;
  }

  .contact-info {
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  .contact-info p {
    width: 90%;
    font-size: 0.9rem;
  }

  .contact-info img {
    display: none;
  }

  .contact-button {
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

}