html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.register-page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.register-page .navbar {
  background-color: #b380b5;
  height: 10rem;
  position: relative;
}

.register-main {
  background-color: #fdeee7;
}
