html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
}

.main-home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.img-section {
  position: relative;
  height: 90vh;
}

.background-image {
  background-image: url("/src/images/Alma_Lactancia_-_Foto_hero.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.support-button p {
  display: flex;
  position: absolute;
  top: 26.5rem;
  left: 4.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f5f5f5;
  font-family: outfit;
}

.activities-button {
  position: absolute;
  background-color: #d8e2dc;
  border: none;
  color: #b380b5;
  cursor: pointer;
  border-radius: 3em;
  font-size: 1.4em;
  font-weight: bold;
  width: 18rem;
  height: 2.5rem;
  justify-content: center;
  bottom: 3em;
  margin-left: 3em;
  font-family: outfit;
}

.activities-button:hover {
  background-color: #b380b5;
  color: white;
}

.content {
  padding: 2em;
  background-color: #fdeee7;
  position: relative;
}

.section-title {
  margin-left: 2em;
  color: #b380b5;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0.2em;
  font-family: outfit;
}

.centered-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.section-text0 {
  max-width: 70rem;
  line-height: 1.7;
  font-family: bellota;
  margin-left: 3.5rem;
}

.section-text1 {
  max-width: 70rem;
  line-height: 1.7;
  font-family: bellota;
  margin-left: 3.5rem;
}

.section-text2 {
  max-width: 70rem;
  line-height: 1.7;
  font-family: bellota;
  margin-left: 3.5rem;
}

.section-text3 {
  max-width: 60rem;
  line-height: 1.7;
  font-family: bellota;
  margin-left: 3.5rem;
}

.section-text4 {
  max-width: 60rem;
  line-height: 1.7;
  font-family: bellota;
  margin-left: 3.5rem;
}

.img-silueta {
  display: flex;
  position: relative;
  margin-left: 66rem;
  margin-top: -18rem;
  width: 17vw;
  height: 45vh;
}

.experience-section {
  background-color: white;
  padding: 2rem;
  margin-bottom: 3rem;
}

.experience-title {
  font-family: outfit;
  color: #b380b5;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 2em;
}

.experience-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.experience-cards {
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.experience-card {
  background-color: #d8e2dc;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  max-width: 100%;
  text-align: center;
}

.experience-card img {
  border-radius: 50%;
  width: 15rem;
  height: 8rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.experience-card h3 {
  font-family: outfit;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.experience-card p {
  font-family: bellota;
  color: #333;
  font-size: 1rem;
}

.carousel-control {
  background-color: transparent;
  color: grey;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1rem;
  z-index: 1;
}

.carousel-control:hover {
  color: #b380b5;
}

.carousel-control.prev {
  left: 2rem;
}

.carousel-control.next {
  right: 2rem;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .img-section {
    position: relative;
    height: 50vh;
  }

  .background-image {
    background-image: url("/src/images/Alma_Lactancia_-_Foto_hero.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .support-button p {
    position: absolute;
    top: 15rem;
    left: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: outfit;
  }

  .activities-button {
    position: absolute;
    background-color: #d8e2dc;
    color: #b380b5;
    width: 12rem;
    height: 2rem;
    bottom: 3rem;
    margin: 0 auto;
    font-size: 1rem;
    left: 1rem;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    font-family: outfit;
  }

  .activities-button:hover {
    background-color: #b380b5;
    color: white;
  }

  .section-title {
    text-align: center;
    margin-left: 0;
    color: #b380b5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: outfit;
  }

  .centered-container {
    margin-left: 2em;
  }

  .section-text0 {
    font-size: 0.75em;
    text-align: center;
    max-width: 100%;
    margin-left: -1.5em;
    font-family: bellota;
  }

  .section-text1 {
    font-size: 0.75em;
    text-align: center;
    max-width: 100%;
    margin-left: -1.5em;
    font-family: bellota;
  }

  .section-text2 {
    font-size: 0.75em;
    text-align: center;
    max-width: 100%;
    margin-left: -1.5em;
    font-family: bellota;
  }

  .section-text3 {
    font-size: 0.75em;
    text-align: center;
    max-width: 100%;
    margin-left: -1.5em;
    font-family: bellota;
  }

  .section-text4 {
    font-size: 0.75em;
    text-align: center;
    max-width: 100%;
    margin-left: -1.5em;
    font-family: bellota;
  }

  .img-silueta {
    display: none;
  }

  .experience-section {
    padding: 1rem;
  }

  .experience-carousel {
    flex-direction: row;
  }

  .experience-cards {
    flex-direction: column;
  }

  .experience-card {
    width: 100%;
    max-width: none;
  }

  .experience-card img {
    width: 10rem;
    height: 5rem;
  }

  .carousel-control {
    font-size: 2rem;
    padding: 0 0.5rem;
  }

  .carousel-control.prev {
    left: -1rem;
  }

  .carousel-control.next {
    right: -1rem;
  }
}
