html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: transparent;
}

.main-home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.img-section {
  position: relative;
  height: 90vh;
}

.background-image {
  background-image: url("/src/images/bebe\ pecho.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.support-button p {
  display: flex;
  position: absolute;
  top: 26.5rem;
  left: 4.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f5f5f5;
  font-family: outfit;
}

.activities-button {
  position: absolute;
  background-color: #d8e2dc;
  border: none;
  color: #b380b5;
  cursor: pointer;
  border-radius: 3em;
  font-size: 1.4em;
  font-weight: bold;
  max-width: 22%;
  justify-content: center;
  bottom: 3em;
  margin-left: 3em;
  font-family: outfit;
}

.activities-button:hover {
  background-color: #b380b5;
  color: white;
}

.content {
  padding: 2em;
  background-color: white;
  position: relative;
}

.section-title {
  margin-left: 2em;
  color: #b380b5;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0.2em;
  font-family: outfit;
}

.section-text {
  max-width: 80em;
  font-size: 1rem;
  line-height: 1.7;
  margin-left: 0.5em;
  font-family: bellota;
}

.centered-container {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

.experience {
  text-align: center;
}

.img-collab {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 5em;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .img-section {
    position: relative;
    height: 50vh;
  }

  .background-image {
    background-image: url("/src/images/bebe\ pecho.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .support-button p {
    position: absolute;
    top: 15rem;
    left: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .activities-button {
    position: absolute;
    background-color: #d8e2dc;
    color: #b380b5;
    max-width: 55%;
    bottom: 2em;
    margin: 0 auto;
    font-size: 1rem;
    left: 1rem;
    border: none;
    border-radius: 3em;
    cursor: pointer;
  }

  .activities-button:hover {
    background-color: #b380b5;
    color: white;
  }

  .section-title {
    text-align: center;
    margin-left: 0;
    color: #b380b5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3em;
    font-family: outfit;
  }

  .section-text {
    font-size: 0.75em;
    text-align: center;
    max-width: 100%;
    margin-left: -1.5em;
    font-family: bellota;
  }

  .experience {
    text-align: center;
    font-size: 0.8em;
  }

  .img-collab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .collab-img {
    max-width: 45%;
  }
}
