html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.library-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.library-page .navbar {
  background-color: #b380b5;
  height: 10rem;
  position: relative;
}

.library-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffeee7;
}

.library-title {
  font-family: outfit;
  color: #b380b5;
  margin-left: 5rem;
  font-size: 2.5rem;
  margin-bottom: 0;
}
.contenedor-texto-biblioteca {
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la página */
  padding: 1rem; /* Añade algo de espacio interior para evitar que el texto toque los bordes */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
  margin: 0 auto; /* Centra el contenedor en el medio si hay un ancho máximo */
}
.library-text {
  font-family: Bellota;
  color: #b380b5;
  margin-left: 5rem;
  margin-right: 6rem;

  font-size: 1.1rem;
}

.collapsible-main {
  margin-bottom: 5rem;
}

.collapsible-container-library {
  border: 1px solid #b380b5;
  border-radius: 0.5rem;
  margin-left: 5rem;
  margin-right: 6rem;
  margin-top: 1rem;
  padding: 0.4rem;
  overflow: hidden;
  position: relative;
}

.collapsible-header-library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.collapsible-header-library.open {
  background-color: #d8e2dc;
  border: none;
}

.collapsible-header-library.open .collapsible-title-library {
  border-bottom: 1.5px solid #a37fc2;
}

.collapsible-title-library {
  font-family: outfit;
  font-size: 1.2rem;
  font-weight: bold;
  width: 8rem;
}

.collapsible-arrow-library {
  font-size: 0.85rem;
  transition: transform 0.3s ease;
  border-radius: 100%;
  background-color: #b380b5;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  color: #fff;
  display: inline-block;
  transform: rotate(90deg);
}

.collapsible-arrow-library.open {
  transform: rotate(-90deg);
}

.collapsible-arrow-library.closed {
  transform: rotate(90deg);
}

.collapsible-content-library {
  padding: 1rem;
  font-family: bellota;
  width: 100%;
  background-color: #d8e2dc;
}

.collapsible-content-library ul {
  background-color: #d8e2dc;
  margin: 0;
  padding: 1rem;
  margin-left: 1rem;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .library-page .navbar {
    background-color: #b380b5;
    height: 6.5rem;
    position: relative;
  }

  .library-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 6.5rem;
    justify-content: center;
  }

  .library-text {
    display: none;
  }

  .collapsible-container-library {
    width: 14rem;
    justify-content: center;
  }

  .collapsible-content-library {
    padding: 1rem;
    font-family: bellota;
    display: block;
    width: 80%;
  }
}
