.settings-content {
  margin-top: 3rem;
  border-radius: 0;
  width: 50vw;
}

.titulo-actividades-principal,
.titulo-creador-actividades {
  font-family: "Outfit", sans-serif;
  color: #b380b5;
  font-size: 20px;
  margin-bottom: 2rem;
}
ol {
  max-width: 80%;
}
.admin-list {
  list-style-type: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 100px 100px;
}

.dateTime-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
