.settings-content {
  overflow-x: hidden;
}

.section {
  display: none;
}

.section.visible {
  display: block;
}

.settings-content h1 {
  font-family: outfit;
  color: #b380b5;
  font-size: 20px;
  margin-bottom: 2rem;
}

.panel-nav-btn {
  display: flex;
  gap: 15px;
}

.titleEditHome {
  font-size: 1.5rem;
  font-family: outfit;
  border-top: solid 1px black;
  padding-top: 1rem;
}

.adminHome-btn {
  background-color: white;
  border: none;
  color: #b380b5;
  padding: 5px;
  width: 25%;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  font-family: outfit;
  font-weight: bold;
}

.adminHome-btn:hover {
  background-color: #b380b5;
  color: white;
}

.hero-image {
  width: 300px;
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 10px;
  border-radius: 5px;
}

.image-buttons {
  margin-bottom: 20px;
}

.image-buttons button {
  padding: 10px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-buttons button:hover {
  background-color: #ced4da;
}

.title-input {
  margin-bottom: 20px;
}

.editTitle-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0 0 20px 0;
}

.editAdminHome-btn {
  padding: 5px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editAdminHome-btn:hover {
  background-color: #b380b5;
  color: white;
}

.cancelAdminHome-btn {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.editNosotras-textarea {
  width: 70%; 
  height: 200px; 
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 0 20px 0;
  resize: none; 
}

p {
  font-size: 14px;
  color: #6c757d;
}

/* Sección experiencias */

h2 {
  font-size: 1.2rem;
  margin-left: 1rem;
}

label[for="experienceText"] {
  margin-left: 1rem;
}

#experienceText {
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.charactersRemaining {
  margin-left: 1rem;
}

label[for="experienceImage"] {
  margin-left: 1rem;
}

#experienceImage {
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.experience-buttons {
  margin-left: 1rem;
  margin-top: 1rem;
}

.admin-btn-exp {
  margin-top: 1.5rem;
  margin-left: 1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

h3 {
  margin-left: 1rem;
  margin-top: 2rem;
}

.list-exp {
  list-style: none;
  margin-left: -1.4rem;
  display: flex;
  flex-wrap: wrap;
}

.list-exp img {
  width: 10rem;
  height: 10rem;
  display: flex;
  margin: 0.5rem;
  flex-wrap: wrap;
}

.list-exp p {
  width: 10rem;
  margin: 0.5rem;
  overflow-x: hidden;
}





