.contenedor-opciones-formularios {
  background-color: #ffeee7;
  margin: 0;
  font-family: Outfit, sans-serif;
  padding-bottom: 2rem;
}
.contenedor-opciones-formularios h1 {
  margin: 0;
  padding: 1rem 2rem;
  color: #b380b5;
}
.contenedor-opciones-formularios p {
  margin: 0;
  color: white;
}
.contenedor-pasos {
  background-color: #b380b5;
  color: white;
  padding: 1rem;
  margin: 0 2rem 2rem 2rem;
}
.fa-exclamation-triangle {
  font-size: 24px;
}
.titulo-descriptivo-accion {
  color: #b380b5;
  padding-left: 2rem;
  font-size: 1.5rem;
  margin-bottom: 0;
}
