/*.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #ffeee7;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vw);
  color: white;
}

.App-link {
  color: #b380b5;
}

.App-main {
  flex: 1;
}
*/

.App{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.alert-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  background-color: #b380b5;

  width: 100vw;
}
.alert-text {
  font-family: Outfit;
  text-align: center;
  color: white;
  letter-spacing: 0.05rem;
}
.alert-text-link {
  font-weight: 900;
  text-decoration: none;
}
.alert-text-link:hover {
  color: white;
}
